.content {
	margin: 2rem 0;

	ul {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, 176px);
		justify-content: center;
		gap: 32px;
	}
}

.notFound {
	width: 100%;
	text-align: center;
	h2 {
		margin-bottom: 0.5rem;
	}

	i {
		font-size: 46px;
		color: gray;
	}
}
