.content {
	background-color: var(--color-bg);
	padding: 8px 16px;
	color: var(--color-text-dark);
	border-radius: 4px;
	display: flex;
	cursor: pointer;

	h3 {
		font-size: 14px;
	}

	&:hover {
		background-color: var(--color-secondary);
		color: #fff;

		&.selected {
			background-color: var(--color-bg);
			color: var(--color-text-dark);

			button {
				color: var(--color-secondary);
			}
		}
	}

	@media (min-width: 600px) {
		h3 {
			font-size: 16px;
		}
	}
}

.selected {
	background-color: var(--color-secondary);
	color: #fff;

	button {
		background-color: transparent;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 0.25rem;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
	}
}
