.movieRelease_content {
	color: var(--color-text-light);

	ul {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		font-size: 14px;
		font-weight: 400;

		li {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin-right: 1rem;

			&::before {
				content: ".";
				font-size: 32px;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				justify-content: center;
			}

			&::before:first-child {
				content: " ";
			}
		}
	}
}

.genresList {
	li {
		margin-right: 0;
	}
}
