.movieRelease_content {
	color: var(--color-text-gray);
	opacity: 0.5;

	ul {
		display: flex;
		width: 100%;
		font-size: 14px;
		font-weight: 400;

		li {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin-right: 1rem;

			&:not(:first-child)::before {
				content: ".";
				font-size: 32px;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				justify-content: center;
				margin-right: 0.5rem;
			}
		}
	}
}

.genresList {
	li {
		margin-right: 0;
	}
}
