.movieRelease_content {
	color: var(--color-text-gray);
	opacity: 0.6;

	ul {
		display: flex;
		width: 100%;
		font-size: 14px;
		font-weight: 400;

		li {
			display: flex;
			align-items: flex-end;
			margin-right: 1rem;

			&:not(:first-child)::before {
				content: ".";
				font-size: 32px;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				justify-content: center;
				margin-right: 0.5rem;

				@media (max-width: 1200px) {
					display: none;
				}
			}

			@media (max-width: 1200px) {
				margin-bottom: 0.25rem;
			}
		}

		@media (max-width: 1200px) {
			flex-direction: column;
			margin-top: 1.5rem;
			line-height: 1.25rem;
		}
	}
}

.genresList {
	li {
		margin-right: 0;
	}
}
