.section {
	min-width: 100vw;
	background-color: var(--color-bg);
}

.section_content {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.primary {
	background-color: var(--color-primary);
}

.primary-light {
	background-color: var(--color-primary-light);
}
